#header {
    display: none;
}
#footer {
    display: none;
}

body #main-dashboard {
    display: block;
    width: 100vw;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    display: none;
}

.tiles {
    display: flex;
    flex-direction: column;
}

.tiles > .tile {
    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    padding: 16px;
    margin: 1px;
    border-bottom: 2px solid white;
    border-radius: 3px;
}
