body #main.home {
    background: rgba(23, 23, 23, 1);
}

#main.home > article {
    display: flex;
    flex-direction: row;
}
#main.home > article.centered {
    max-width: none;
}
#main.home > article.centered .bio {
    position: sticky;
    top: 16px;
    max-height: 100vh;
    z-index: 10;
    color: rgba(255, 255, 255, 0.87);
}
#main.home > article.centered .feed {
    max-width: calc(100% - 512px);
    margin: 0 auto;
}

#main.home > article.centered .bio a, #main.home > article.centered .bio a:visited {
    color: rgba(255, 255, 255, 0.87);
    text-decoration-color: rgba(255, 255, 255, 0.435);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}
#main.home > article.centered .bio a:hover, #main.home > article.centered .bio a:focus, #main.home > article.centered .bio a:active {
    color: rgba(255, 255, 255, 0.94);
    text-decoration-color: rgba(255, 255, 255, 0.94);
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
}
#main.home > article.centered .bio h1 a {
    border-bottom-color: rgba(255, 255, 255, 0.435);
}

#main.home .bio *[data-tip]::after {
    width: 256px;
}

#main.home .feed > .post-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.05, 1));
}

#main.home .feed > .post-previews > article {
    background: rgba(31, 31, 31, 1);
    padding: 16px;
    margin: 8px;
    border-radius: 3px;
    width: calc(25% - 16px - 32px);
}

@media only screen and (min-width: 0px) and (max-width: 2100px) {
    #main.home .feed > .post-previews > article {
        width: calc(33% - 16px - 32px);
    }
}

@media only screen and (min-width: 0px) and (max-width: 1900px) {
    #main.home .feed > .post-previews > article {
        width: calc(50% - 16px - 32px);
    }
}

@media only screen and (min-width: 0px) and (max-width: 1600px) {
    #main.home .feed > .post-previews > article {
        width: calc(100% - 16px - 32px);
    }
}

@media only screen and (min-width: 0px) and (max-width: 1300px) {
    #main.home > article {
        flex-direction: column;
    }

    #main.home > article.centered .bio {
        position: static;
        max-width: none;
        max-height: none;
    }
    #main.home > article.centered .feed {
        max-width: none;
    }
    #main.home .feed > .post-previews > article {
        transition: none;
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin: 8px;
    }
    #main.home .feed > .post-previews > article:hover {
        box-shadow: none;
    }
}
