html {
    min-height: 100vh;
}
body {
    font-family: 'overpass', sans-serif;
    background: #111111;
    color: rgba(255, 255, 255, 0.87);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-weight: 300;
    will-change: opacity; /* Fix mix-blend-mode in Chrome. */
}
tt, code, kbd, samp, /**[data-tip]::after, #version,*/ #main .meta {
    font-family: 'overpass-mono', monospace;
}

.wideline {
    line-height: 1.75em;
}

#bg {
    position: fixed;
    z-index: -1002;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#landing {
    mix-blend-mode: difference;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    padding: 32px;
    pointer-events: none;
    z-index: 1001;
    transition: opacity 0.2s;
    opacity: 1;
}
#header .icon {
    pointer-events: auto;
    margin-left: 8px;
}
#header::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    background: #111111;
}
#footer {
    left: 0;
    right: 0;
    height: 32px;
    padding: 32px;
    z-index: -1001;
}

#ade-text {
    font-size: 64px;
    height: 64px;
    margin: 8px 0 32px 0;
    opacity: 0.87;
}
#ade-text-bg {
    position: sticky;
    float: left;
    z-index: -1;
    top: 32px;
    left: 16px;
    width: 64px;
    height: 64px;
    background: url("/icon/ade-sans.svg");
    background-size: 64px 64px;
    opacity: 0.05;
}

.left {
    float: left;
}
.right {
    float: right;
}

#version {
    color: rgba(255, 255, 255, 0.94);
    padding: 8px;
    height: 32px;
    box-sizing: border-box;
}

.icon, .icon img {
    display: inline-block;
    position: relative;
}
.icon {
    cursor: pointer;
    width: 64px;
    height: 64px;
}
.icon img {
    /* Edge fails when using 100% */
    width: 300px;
    height: 300px;
    /* Works in Edge, but it can't deal with 64 / 300. */
    transform: scale(0.2133333333333333);
    transform-origin: 0 0;
    pointer-events: none;
    transition: opacity 0.2s, transform 0.2s;
}
.icon img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}


#main-wrapper {
    display: block;
    position: relative;
    margin-bottom: 50vh;
}
#main {
    display: block;
    position: relative;
    z-index: 0;
    min-height: calc(100vh - 256px + 64px);
    padding: 32px;
    word-wrap: break-word;
    opacity: 0;
    transform: translateX(-16px);
}
#main article.centered {
    max-width: calc(768px + 64px);
    margin: 0 auto 0 auto;
}
#main:not([data-fade]), #main[data-fade="in"] {
    animation: main-in 0.15s forwards ease-out;
}
#main[data-fade="out"] {
    animation: main-out 0.15s forwards ease-in;
    pointer-events: none;
}

@keyframes main-in {
    0% {
        opacity: 0;
        transform: translateX(-16px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes main-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(16px);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    z-index: 0;
}
h1 {
    font-weight: 200;
    font-size: 32px;
    line-height: 1.5em;
}
header.sticky {
    position: sticky;
    top: 48px;
    background: #111111;
    box-shadow: 0 0 16px 16px #111111;
    border-radius: 3px;
    padding-left: 16px;
    margin-left: -16px;
    padding-right: 32px;
    z-index: 1000;
}
.hinline {
    display: inline-block;
    line-height: inherit;
    margin: 0;
}

a, a:visited {
    transition: color 0.2s, text-decoration-color 0.2s, text-shadow 0.2s, border-bottom 0.2s;
    color: rgba(255, 255, 255, 0.87);
    text-decoration-color: rgba(255, 255, 255, 0.435);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    font-weight: 500;
    position: relative;
}
a:not(.no-invert)::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background: #ffffff;
    transition: transform 0.2s;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    mix-blend-mode: difference;
    /* pointer-events: none; */
}
a:not(.no-invert):hover::after {
    transform: scaleX(1);
}
a:hover, a:focus, a:active {
    color: rgba(255, 255, 255, 0.94);
    text-decoration-color: rgba(255, 255, 255, 0.94);
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
}
h1 a {
    text-decoration: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0.435);
}

#main article.post-preview {
    margin-bottom: 32px;
}

#main #title {
    max-width: calc(100% - 128px);
}
#main #nav {
    float: right;
    margin: 8px;
    z-index: 10;
}
#main #nav .icon {
    width: 32px;
    height: 32px;
    transition: opacity 0.2s;
    opacity: 0.87;
    margin-left: 8px;
}
#main #nav .icon:hover {
    opacity: 1;
}
#main #nav .icon img {
    /* filter: brightness(0); */
    /* Works in Edge, but it can't deal with 64 / 300. */
    transform: scale(0.1066666666666667);
}

#main code {
    word-wrap: normal;
    overflow-x: scroll;
}

#main img {
    max-width: 100%;
    max-height: 100%;
}
#main .icon img {
    max-width: 300px;
    max-height: 300px;
}

#main iframe {
    width: 100%;
}

#main blockquote,
#main .meta,
tt,
code:not(.highlighter-rouge):not(.unimportant),
kbd,
samp {
    margin: 1em 0 1em 32px;
    display: block;
}
