@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

@import url('tipper.css');

body {
    font-family: 'Fira Sans', sans-serif;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.87);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#bg {
    position: fixed;
    z-index: -1001;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    padding: 32px;
    z-index: 1001;
}
#header > .left {
    float: left;
}
#header > .right {
    float: right;
}
#header .icon, #header .icon img {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
#header .icon img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}


#main-wrapper {
    display: block;
    position: relative;
    margin: 128px auto 128px auto;
    max-width: calc(768px + 64px);
}
#main {
    display: block;
    position: relative;
    min-height: calc(100vh - 256px + 64px);
    padding: 32px;
}

h1 {
    font-weight: lighter;
}
