html {
    min-height: 100vh;
}
body {
    font-family: 'Fira Sans', sans-serif;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.87);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#bg {
    position: fixed;
    z-index: -1002;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    padding: 32px;
    z-index: 1001;
}
#footer {
    position: absolute;
    bottom: -128px;
    left: 0;
    right: 0;
    height: 32px;
    padding: 32px;
    z-index: -1001;
}

.left {
    float: left;
}
.right {
    float: right;
}

#version {
    background: white;
    color: rgba(0, 0, 0, 0.94);
    padding: 8px;
    height: 32px;
    box-sizing: border-box;
}

.icon, .icon img {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.icon {
    cursor: pointer;    
}
.icon img {
    pointer-events: none;
    transition: opacity 0.2s, transform 0.2s;
}
.icon img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}


body:not([data-bgm]) #audio-toggle {
    display: none;
}
body[data-bgm="off"] #audio-toggle-waves {
    opacity: 0;
    transform: translateX(4px);
}

#main-wrapper {
    display: block;
    position: relative;
    margin: 128px auto 128px auto;
    max-width: calc(768px + 64px);
}
#main {
    display: block;
    position: relative;
    min-height: calc(100vh - 256px + 64px);
    padding: 32px;
    animation: mainin 0.2s;
}
body:not([data-bg="on"]) #main {
    background: rgba(19, 19, 19, 1);
}
  
@keyframes mainin {
    0% {
        opacity: 0;
        transform: translateY(64px) scale(0.99);
        filter: saturate(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: saturate(1);
    }
}

h1 {
    font-weight: lighter;
}
