*[data-tip] {
    position: relative;
    z-index: 0;
}
*[data-tip]::after {
    content: attr(data-tip);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin: 0;
    padding: 8px;
    background: white;
    color: rgba(0, 0, 0, 0.94);
    transition: opacity 0.2s, transform 0.2s;
    will-change: opacity, transform;
    opacity: 0;
    font-size: initial;
}
*[data-tip]:hover::after {
    opacity: 1;    
}

*:not([data-tip-dir])::after,
*[data-tip-dir="up"]::after {
    left: 50%;
    transform: translate(-50%, calc(-100% + 8px));
}
*:not([data-tip-dir]):hover::after,
*[data-tip-dir="up"]:hover::after {
    transform: translate(-50%, calc(-100% - 8px));
}

*[data-tip-dir="down"]::after {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, calc(100% - 8px));
}
*[data-tip-dir="down"]:hover::after {
    transform: translate(-50%, calc(100% + 8px));
}

*[data-tip-dir="left"]::after {
    left: 0;
    top: 50%;
    transform: translate(calc(-100% + 8px), -50%);
}
*[data-tip-dir="left"]:hover::after {
    transform: translate(calc(-100% - 8px), -50%);
}

*[data-tip-dir="right"]::after {
    right: 0;
    top: 50%;
    transform: translate(calc(100% - 8px), -50%);
}
*[data-tip-dir="right"]:hover::after {
    transform: translate(calc(100% + 8px), -50%);
}
