<script>
    (()=>{
        document.body.setAttribute('data-js', 'on');
        var canvas = document.createElement('canvas');
        canvas.id = 'bg';
        document.body.appendChild(canvas);
    })();
</script>

<script src="/js/bg.js" async defer></script>

<div id="header">
    <div class="left">
        <a class="icon" id="logo" data-tip="home" data-tip-dir="down" href="/"><img src="/icon/header.svg"/></a>
    </div>
    <div class="right">
        <!--span class="icon button" id="audio-toggle" data-tip="audio" data-tip-dir="down"><img src="/icon/speaker.svg"/><img id="audio-toggle-waves" src="/icon/speaker-waves.svg"/></span-->
    </div>
</div>