<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    {% seo %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="/feed.xml">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css">
    
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/tipper.css">
    <link rel="stylesheet" href="/css/main.css">


    <!-- https://github.com/jariseon/audioworklet-polyfill -->
    <script src="/js/deps/audioworklet/audioworklet.js"></script>

    <!-- https://github.com/evilstreak/markdown-js -->
    <script src="/js/deps/markdown/markdown.min.js"></script>
    
    <script src="/js/main.js"></script>
    <script src="/js/bgm.js" async defer></script>

</head>