<article class="centered">
        <article class="bio">
            <div id="about" style="grid-column-end: span 2;">
                <header class="sticky">
                    <h1>About</h1>
                </header>
                <div class="biogrid">
                    <div id="biocanvas-wrap"></div>
                    <script>
                        (()=>{
                            let canvas = document.createElement("canvas");
                            canvas.id = "biocanvas";
                            document.getElementById("biocanvas-wrap").appendChild(canvas);
                        })();
                    </script>
                    <script src="/js/biocanvas.js" async defer></script>

                    <div class="bio-shortinfo">
                        <h2></h2>
                        <h2 class="hinline">Jade Macho aka 0x0ade</h2><br>
                        <h5 class="hinline">they/them, born Maik Macho, still figuring things out</h5><br>
                        <h3 class="hinline">is shouting into the void</h3><br>
                        <h4 class="hinline">in German, English, C#, C and JavaScript.</h4>
                    </div>

                    <div>
                        <div class="portrait-box">
                            <!--
                                UNCOMMENT PORTRAIT HERE AND IN main.css
                                AND RE-ADD media/me.png ONCE I FIGURE MYSELF OUT.
                                -ade
                            -->
                            <!-- <div class="portrait"></div> -->
                            <div class="portrait-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div id="links" class="fadein" style="animation-delay: 0.3s;">
                <header class="sticky">
                    <h1>Links</h1>
                </header>
                <div class="biolist">
                    <div>
                        <h2 class="substicky">Code</h2>
                        <p>
                            <h3 class="hinline"><a href="https://github.com/0x0ade">GitHub</a></h3><br>
                            All public projects since 2012.
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://gitlab.com/0x0ade">GitLab</a></h3><br>
                            Used for private collaborations and not-so-public side projects.
                        </p>
                    </div>
            
                    <div>
                        <h2 class="substicky">Social</h2>
                        <p>
                            <h3 class="hinline"><a href="https://twitter.com/0x0ade">@0x0ade</a></h3><br>
                            Main social media account. Usual hellsite ramblings, C# mod progress and some creative things.
                        </p>
                        <p>
                            <h3 class="hinline"><a rel="me" href="https://merveilles.town/@0x0ade">@0x0ade@merveilles.town</a></h3><br>
                            Secondary account to escape from the hellsite, creative WIPs and progress posts.
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://twitter.com/profving">@profving</a></h3><br>
                            Creative experiments using the digital canvas.
                        </p>
                        <p>
                            <h3 class="hinline"><a style="text-decoration: underline;">{lastname}.{name}@{google mail}.com</a></h3><br>
                            Formal stuff. Both names work.
                        </p>
                    </div>
                            
                    <div>
                        <h2 class="substicky">Support</h2>
                        <p>
                            <h3 class="hinline"><a href="https://paypal.me/dumpsterfire">PayPal</a></h3><br>
                            One-time.
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://www.patreon.com/0x0ade">Patreon</a></h3><br>
                            Monthly + rewards.
                        </p>
                        <p>
                            Thank you!
                        </p>
                    </div>
                </div>
            </div>
    
            <div id="projects" class="fadein" style="animation-delay: 0.45s;">
                <header class="sticky">
                    <h1>Projects</h1>
                </header>
                <div class="biolist">
                    <div style="grid-column-end: span 2;">
                        <h2 class="substicky">Main</h2>
                        <p>
                            <h3 class="hinline"><a href="https://github.com/0x0ade/MonoMod">MonoMod</a></h3><br>
                            Cross-platform C# modding swiss army knife, used by many mod loaders, frameworks and other libraries:
                            <ul>
                                <li>static patcher</li>
                                <li>runtime detourer</li>
                                <li>modding utilities</li>
                            </ul>
                        </p>
                    </div>
                        
                    <div>
                        <h2 class="substicky">Side</h2>
                        <p>
                            <h3 class="hinline"><a href="https://twitter.com/everestapi">Everest</a></h3><br>
                            Main developer of the community-maintained modding API and mod loader for <a href="http://www.celestegame.com/">Celeste</a>.
                        </p>
                    </div>
                        
                    <div>
                        <h2 class="substicky">Past</h2>
                        <p>
                            <h3 class="hinline"><a href="https://www.youtube.com/channel/UCHTnEwQKNwm49CQeCVZogMw">Boundary Break</a></h3><br>
                            Freely controllable game camera mods for the YouTube series Boundary Break:<br>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=wvYqf3NLKNM">Untitled Goose Game</a></li>
                                <li><a href="https://www.youtube.com/watch?v=D5h-2oU-ojo">Yooka Laylee</a></li>
                            </ul>
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://github.com/0x0ade/XnaToFna">XnaToFna</a></h3><br>
                            Post-compilation XNA game relinker to use <a href="https://fna-xna.github.io/">FNA</a>.<br>
                            Mostly superseeded by the <a href="https://github.com/FNA-XNA/FNA/tree/master/abi">FNA ABI compat files.</a>
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://github.com/0x0ade/FNADroid">FNADroid</a></h3><br>
                            Wrapper to run games using the <a href="https://fna-xna.github.io/">FNA framework</a> on Android. Initially used a custom build of Mono.<br>
                            Abandoned due to the state of Android dev.
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://github.com/Rotonde/rotonde-client/tree/rewrite">Rotonde</a></h3><br>
                            Contributions to the P2P microblogging network <a href="https://wiki.xxiivv.com/#rotonde">Rotonde</a>, initiated by <a href="https://twitter.com/neauoire">Devine Lu Linvega</a>.
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://modthegungeon.github.io/">Mod the Gungeon</a></h3><br>
                            Community-maintained modding API for <a href="http://dodgeroll.com/gungeon/">Enter the Gungeon</a>.
                        </p>
                        <p>
                            <h3 class="hinline"><a href="https://github.com/0x0ade/FEZMod-Legacy">FEZMod</a></h3><br>
                            Second C# project (after MonoMod), smaller mods for <a href="http://fezgame.com/">FEZ</a>.<br>
                            Some fixes made it into in FEZ 1.12.
                        </p>
                    </div>
                </div>
            </div>
        </article>

        {% if site.posts.size > 0 %}
        <article class="feed" id="posts">
            <header class="sticky">
                <h1>Posts</h1>
            </header>
            <div class="previews post-previews">
                {% for post in site.posts %}
                <article class="preview post-preview">
                    <header>
                        <h2><a href="{{ post.ref }}">{{ post.title | escape }}</a></h2>
                        {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                        <p class="meta unimportant">
                            --excerpt --date
                            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: date_format }}</time>
                            {% if post.tags.size > 0 %}
                            {% for tag in post.tags %}
                            <span class="tag">{{ tag | escape }}</span>
                            {% endfor %}
                            <span itemprop="keywords" hidden>
                                {% for tag in post.tags %}
                                {{ tag | escape }}, 
                                {% endfor %}
                            </span>
                            {% endif %}
                        </p>
                    </header>
    
                    <div>
                        {{ post.excerpt }}
                    </div>
                    
                    <p class="meta unimportant">
                        <a href="{{ post.url }}">&gt; continue</a>
                    </p>
                </article>
                {% endfor %}
            </div>
        </article>
        {% endif %}
    </article>
