---
layout: default
---
<article class="home centered">
    {{ content }}

    <article class="bio">
        <header>
            <h1>&gt; info</h1>
        </header>
        <code class="unimportant">
            name: Maik Macho (spoken: ma - ho)<br>
            nick: 0x0ade (spoken: ox - oh - aid)<br>
            desc: shouting into the void (spoken: <b><i>AAAA</i></b>)<br>
            part: merveilles<br>
            lang: C#, C, JS, DE, EN<br>
            main: <a href="https://github.com/0x0ade/XnaToFna">XnaToFna</a>, <a href="https://github.com/0x0ade/MonoMod">MonoMod</a><br>
            side: <a href="https://github.com/Rotonde/rotonde-client">rotonde as contributor</a>, <a href="https://github.com/0x0ade/FNADroid">FNADroid</a><br>
            past: <a href="https://github.com/0x0ade/FEZMod-Legacy">FEZMod</a>, <a href="https://modthegungeon.eu/">Mod the Gungeon</a>, <a href="https://www.youtube.com/watch?v=D5h-2oU-ojo">Boundary Break - Yooka Laylee</a><br>
            prof: <a href="https://www.patreon.com/0x0ade">Patreon</a>, <a href="https://twitter.com/0x0ade">Twitter - code</a>, <a href="https://twitter.com/profving">Twitter - creative</a>, <a href="dat://rotonde-0x0ade.hashbase.io">rotonde</a>, <a href="https://soundcloud.com/lawnmowersonsale">SoundCloud</a><br>
            help: <a href="https://paypal.me/dumpsterfire">PayPal</a>, <a href="https://www.patreon.com/0x0ade">Patreon</a>
        </code>
    </article>

    {% if site.posts.size > 0 %}
    <div class="feed">
        <header>
            <h1>&gt; feed</h1>
        </header>
        {% for post in site.posts %}
        <article class="post-preview">
            <header>
                <h2><a href="{{ post.url }}">{{ post.title | escape }}</a></h2>
                {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                <p class="meta unimportant">
                    --excerpt --date
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: date_format }}</time>
                    {% if post.tags.size > 0 %}
                    {% for tag in post.tags %}
                    <span class="tag">{{ tag | escape }}</span>
                    {% endfor %}
                    <span itemprop="keywords" hidden>
                        {% for tag in post.tags %}
                        {{ tag | escape }}, 
                        {% endfor %}                
                    </span>
                    {% endif %}
                </p>
            </header>

            <div>
                {{ post.excerpt }}
            </div>
            
            <p class="meta unimportant">
                <a href="{{ post.url }}">&gt; continue</a>
            </p>
        </article>
        {% endfor %}
    </div>
    {% endif %}
</article>