---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <div id="nav">
            {% if page.previous %}
            <a class="icon" id="prev" data-tip="prev" data-tip-dir="up" href="{{ page.previous.url }}"><img src="/icon/left.svg"/></a>
            {% else %}
            <span class="icon" style="pointer-events: none; cursor: unset;"></span>
            {% endif %}
            {% if page.next %}
            <a class="icon" id="next" data-tip="next" data-tip-dir="up" href="{{ page.next.url }}"><img src="/icon/right.svg"/></a>
            {% else %}
            <span class="icon" style="pointer-events: none; cursor: unset;"></span>
            {% endif %}
            <a class="icon" id="close" data-tip="close" data-tip-dir="up" href="/"><img src="/icon/close.svg"/></a>
        </div>
        <h1>
            <a href="{{ page.url }}" class="p-name" itemprop="name headline">{{ page.title | escape }}</a>
        </h1>
        <p class="meta">
            <span>--date</span>
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
            </time>
            {% if page.tags.size > 0 %}
            {% for tag in page.tags %}
            <span class="tag">{{ tag | escape }}</span>
            {% endfor %}
            <span itemprop="keywords" hidden>
                {% for tag in page.tags %}
                {{ tag | escape }}, 
                {% endfor %}                
            </span>
            {% endif %}
        </p>
    </header>

    <div class="e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <a class="u-url" href="{{ page.url }}" hidden></a>
</article>